<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
## 首字母小写
#macro(tolowercase $str)$str.substring(0,1).toLowerCase()$str.substring(1)#end
## 后部分转换为小写
#macro(touppercase $str)$str.substring(0,1)$str.substring(1).toLowerCase()#end
## 首字母大写
#macro(toheaduppercase $str)$str.substring(0,1).toUpperCase()$str.substring(1)#end
<style>
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
</style>
<script type="text/javascript">
var idName =#foreach($field in ${table.fields})#if(${field.keyFlag})'${field.propertyName}'#break#end#end;
define({
##判断select引用类型
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if($type.contains('{'))
	"${field.name}_map":$type,
#end
#end
	"idName":idName
});
$(function(){
	//加载data
	loadUrls =[
##判断select引用类型
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if(!$type.contains('{') && $type.contains(':'))
#set($tableMapping = $type.split(':'))
		{
			url:"${cfg.suffixUri}${tableMapping.get(0)}/findList",
			success:function(data){
				globalData.data.${tableMapping.get(1)}Map = objArrToMap(data.${tableMapping.get(0)}s,"${tableMapping.get(1)}","${tableMapping.get(2)}");
			}
		},
#end
#end
	];
	//加载标签
	loadEls = ['#mainData'];
	//初始化数据
	init();

});

function saveOrUpdate(form){
	return request({
		url: "${cfg.suffixUri}#tolowercase($entity)/saveOrUpdate",
		form: form,
		success: function(data){
			parent.layer.msg("操作成功");
			parent.reLoad();
			var index = window.parent.layer.getFrameIndex(window.name); // 获取窗口索引
			window.parent.layer.close(index);
		},
		multipart: true,
		check: function(){return true;}
	});
}
function selectFile(inputId,imgId){
	document.getElementById(inputId).click();
	$("#"+inputId).change(function(){
	    $("#"+imgId).attr("src",URL.createObjectURL($(this)[0].files[0]));
	});
}
</script>
<style>
[class*="row"] {
	margin-left:-4.1666666666665%;
	padding:10px;
}
img {
	cursor: pointer;
}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" onsubmit="return saveOrUpdate(this)" id="mainData">
#set($temp = 1)
							<div class="row"  style="display: flex;align-items:center;">
#foreach($field in ${table.fields})
##判断排除字段
#if(!$cfg.colExclude.get($table.name).get($field.name))
##判断
#if(!${field.keyFlag} || $cfg.propertyType.get($table.name).get($field.name))
								
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
									
#if($type == 'img' || ${field.propertyName.contains('img')})
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="file" name="${field.propertyName}File" id="${field.propertyName}" class="form-control" style="display:none;">
									 <div style='width: 80px;height: 80px;border:1px solid gray;position: relative;'>
										<span style='position: absolute;'>请选择图片</span>
										<img style='width: 100%;height: 100%; position: absolute;' id="${field.propertyName}Img" src=''  alt=""
										onclick="selectFile('${field.propertyName}','${field.propertyName}Img')"/>
									</div>
								</div>
#elseif($type == 'file')
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="file" name="${field.propertyName}File" class="form-control">
								</div>
#elseif($type == 'sex' || ${field.propertyName.contains('sex')})
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<select data-placeholder="--选择性别--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">-- 选择性别 --</option>
										<option value="1">男</option>
										<option value="0">女</option>
									</select>
								</div>
#elseif($type.contains('{'))
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<select data-placeholder="--选择${field.comment}--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">--请选择${field.comment}--</option>
										<option v-for="value,key in ${field.name}_map" :value="key">{{value}}</option>
									</select>
								</div>
#elseif($type.contains(':'))
#set($tableMapping = $type.split(':'))
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<select data-placeholder="--选择${field.comment}--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">--选择${field.comment}--</option>
										<option v-for="value,key in data.${tableMapping.get(1)}Map" :value="key">{{value}}</option>
									</select>
								</div>
#elseif($type.contains('date'))
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
#elseif($type.contains('datetime'))
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
#elseif($type.contains('time'))
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
##自动识别
#elseif($field.type == 'date')
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
#elseif($field.type == 'datetime')
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
#elseif($field.type == 'time')
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" id="birthday" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
#else
								<div class="columns pull-left col-sm-1 col-sm-offset-1 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-4 nopadding">
									<input type="text" class="form-control" name="${field.propertyName}" placeholder="请输入${field.comment}">
								</div>
#end
#if(($temp % 2) == 0)
							</div>
	                    	<div class="row" style="display: flex;align-items:center;">
#end
##自增
#set($temp = $temp + 1)
#end
#end
#end
	                    	</div>
							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-5" style="text-align:center;">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
