<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
## 首字母小写
#macro(tolowercase $str)$str.substring(0,1).toLowerCase()$str.substring(1)#end
##找出第一个id
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set( $propId = $field.propertyName )
#set( $colId = $field.name )
#break
#end
#end
#if(!$colId)
#set( $propId = $table.fields[0].propertyName )
#set( $colId = $table.fields[0].name )
#end
<script type="text/javascript">
//加载url中的映射
loadUrls =[
##判断select引用类型
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if(!$type.contains('{') && $type.contains(':'))
#set($tableMapping = $type.split(':'))
	{
		url:"${cfg.prefixCtrl}${tableMapping.get(0)}/findList",
		success:function(data){
			window.${tableMapping.get(1)}Map = objArrToMap(data.${tableMapping.get(0)}s,"${tableMapping.get(1)}","${tableMapping.get(2)}");
		}
	},
#end
#end
];
//初始化数据
init();

var prefix = "${cfg.prefixCtrl}#tolowercase(${entity})/";
var htmlPrefix = "${cfg.prefixView}#tolowercase(${entity})/";
var idName = "${propId}";
var columns = [
	{
		checkbox : true
	},
#foreach($field in ${table.fields})
##判断排除字段
#if(!$cfg.colExclude.get($table.name).get($field.name))
#set($type = $cfg.propertyType.get($table.name).get($field.name))
##判断
#if(!${field.keyFlag} || !$type || !$type.contains('__') )
#set( $type = $type.replace("_","") )
##参数类型
#if($type == 'img' || ${field.propertyName.contains('img')})
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center',
		formatter : function(value, row, index) {
			return "<img style='width: 80px;height: 80px;' src='"
					+ value + "' alt=''>";
		}
	},
#elseif($field.type == 'date' || $field.type == 'datetime' || $field.type == 'time')
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center'
	},
#elseif($type == 'sex' || ${field.propertyName.contains('sex')})
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center',
		formatter : function(value, row, index) {
			let map = {"0":"女","1":"男"};
			return map[value] || "";
		}
	},
#elseif($type.contains('{'))
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center',
		formatter : function(value, row, index) {
			let map = ${type};
			return map[value] || "";
		}
	},
#elseif($type.contains(':'))
#set($tableMapping = $type.split(':'))
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center',
		formatter : function(value, row, index) {
			return ${tableMapping.get(1)}Map[value] || "";
		}
	},
#else
	{
		field : '${field.propertyName}',
		title : '${field.comment}',
		align : 'center'
	},
#end
#end
#end
#end
	{
		title : '操作',
		field : 'idx',
		align : 'center',
		formatter : function(value, row, index) {
			var e = '<a class="btn btn-primary btn-sm '
					+ s_edit_h
					+ '" href="#" mce_href="#" title="编辑" onclick="edit(\''
					+ row[idName]
					+ '\')"><i class="fa fa-edit"></i></a> ';
			var d = '<a class="btn btn-warning btn-sm '
					+ s_remove_h
					+ '" href="#" title="删除"  mce_href="#" onclick="remove(\''
					+ row[idName]
					+ '\')"><i class="fa fa-remove"></i></a> ';
			return e + d;
		}
	} ]
</script>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">

							<button type="button"
								class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i> 添加
							</button>
							<button type="button"
								class="btn  btn-danger" onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i> 删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" >查询</button>
						</div>

						<div class="columns pull-right col-md-2 nopadding">
							<!-- <select data-placeholder="选择类别"
								class="form-control chosen-select" tabindex="2"
								style="width: 100%">
								<option value="">选择类别</option>
							</select> -->
							<input class="form-control" type="text" id="searchName"/>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
	</div>
	<div>
		<script type="text/javascript">
				s_edit_h = '';
			</script>
	</div>
	<div>
		<script type="text/javascript">
				s_remove_h = '';
			</script>
	</div>
	<div>
		<script type="text/javascript">
				s_resetPwd_h = '';
			</script>
	</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/common/util/list.js"></script>
</body>
</html>