<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
## 首字母小写
#macro(tolowercase $str)$str.substring(0,1).toLowerCase()$str.substring(1)#end
## 后部分转换为小写
#macro(touppercase $str)$str.substring(0,1)$str.substring(1).toLowerCase()#end
## 首字母大写
#macro(toheaduppercase $str)$str.substring(0,1).toUpperCase()$str.substring(1)#end
##找出第一个id
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set( $propId = $field.propertyName )
#set( $colId = $field.name )
#break
#end
#end
#if(!$colId)
#set( $propId = $table.fields[0].propertyName )
#set( $colId = $table.fields[0].name )
#end
<style>
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
[class*="row"] {
	margin-left:-4.16666666666666665%;
	padding:10px;
}
img {
	cursor: pointer;
}
</style>
<script type="text/javascript">
var idName = "${propId}";
define({
##判断select引用类型
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if($type.contains('{'))
	"${field.name}_map":$type,
#elseif($type.contains(':'))
#set($tableMapping = $type.split(':'))
	"${tableMapping.get(1)}Map": {},
#end
#end
	"idName":idName
});
$(function(){
	//加载data
	loadUrls =[
		{
			url:"${cfg.prefixCtrl}#tolowercase($entity)/findById",
			data:{
				'id':getParameter("id")
			},
			refNames:['#tolowercase($entity)']
		}
##判断select引用类型
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if(!$type.contains('{') && $type.contains(':'))
#set($tableMapping = $type.split(':'))
#if($tableMapping.size() < 4 || !$tableMapping.get(3) || $tableMapping.get(3)=='')
		,
		{
			url:"${cfg.prefixCtrl}${tableMapping.get(0)}/findList",
			success:function(data){
				vue.${tableMapping.get(1)}Map = objArrToMap(data.${tableMapping.get(0)}s,"${tableMapping.get(1)}","${tableMapping.get(2)}");
#if($tableMapping.size() > 4 && ${tableMapping.get(4)})
				change#toheaduppercase(${tableMapping.get(4)})Map(vue.data.#tolowercase($entity).${tableMapping.get(1)});
#end
			}
		}
#end
#end
#end
	];
	//加载标签
	loadEls = ['#mainData'];
	//初始化数据
	init();

});

function saveOrUpdate(form){
	return request({
		url: "${cfg.prefixCtrl}#tolowercase($entity)/saveOrUpdate",
		form: form,
		success: function(data){
			parent.layer.msg("操作成功");
			parent.reLoad();
			var index = window.parent.layer.getFrameIndex(window.name); // 获取窗口索引
			window.parent.layer.close(index);
		},
		multipart: true,
		check: function(){return true;}
	});
}
function selectFile(inputId,imgId){
	document.getElementById(inputId).click();
	$("#"+inputId).change(function(){
	    $("#"+imgId).attr("src",URL.createObjectURL($(this)[0].files[0]));
	});
}

##判断selectChange方法
#foreach($field in ${table.fields})
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
#if(!$type.contains('{') && $type.contains(':'))
#set($tableMapping = $type.split(':'))
#if($tableMapping.size() > 3 && $tableMapping.get(3)!='')
function change#toheaduppercase(${tableMapping.get(1)})Map($tableMapping.get(3)){
	//清空数据
	vue.${tableMapping.get(1)}Map = {};
	if($tableMapping.get(3)){
		request({
			url: "/${tableMapping.get(0)}/findList",
			data:{$tableMapping.get(3): $tableMapping.get(3)},
			success:function(data){
				vue.${tableMapping.get(1)}Map = objArrToMap(data.${tableMapping.get(0)}s,"${tableMapping.get(1)}","${tableMapping.get(2)}");
			}
		});
	}
}
#end
#end
#end
</script>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-22">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" onsubmit="return saveOrUpdate(this)" id="mainData">
							<input id="id" name="id" :value="data.#tolowercase($entity)[idName]" type="hidden">
							
#foreach($field in ${table.fields})
##判断排除字段
#if(!$cfg.colExclude.get($table.name).get($field.name))
##参数类型
#set( $type = $cfg.propertyType.get($table.name).get($field.name) )
##判断
#if( (!$type && !${field.keyFlag}) || ($type && !$type.contains('_')) )
##手动识别
#if($type == 'img' || ${field.propertyName.contains('img')})
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="file" name="${field.propertyName}File" id="${field.propertyName}" class="form-control" style="display:none;">
									<div style='width: 80px;height: 80px;border:1px solid gray;position: relative;'>
										<span style='position: absolute;'>请选择图片</span>
										<img style='width: 100%;height: 100%; position: absolute;' id="${field.propertyName}Img" :src='data.#tolowercase($entity).${field.propertyName}'  alt=""
										onclick="selectFile('${field.propertyName}','${field.propertyName}Img')"/>
									</div>
								</div>
							</div>
#elseif($type == 'file')
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="file" name="${field.propertyName}File" class="form-control">
								</div>
							</div>
#elseif($type == 'sex' || ${field.propertyName.contains('sex')})
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<select data-placeholder="--选择性别--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">-- 选择性别 --</option>
										<option value="1" :selected="data.#tolowercase($entity).${field.propertyName} == 1">男</option>
										<option value="0" :selected="data.#tolowercase($entity).${field.propertyName} == 0">女</option>
									</select>
								</div>
							</div>
#elseif($type.contains('{'))
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<select data-placeholder="--选择${field.comment}--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">--选择${field.comment}--</option>
										<option v-for="value,key in ${field.name}_map" :value="key" :selected="data.#tolowercase($entity).${field.propertyName} == key">{{value}}</option>
									</select>
								</div>
							</div>
#elseif($type.contains(':'))
#set($tableMapping = $type.split(':'))
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<select #if($tableMapping.size()>4&&$tableMapping.get(4)&&$tableMapping.get(4)!='')onchange="change#toheaduppercase(${tableMapping.get(4)})Map(this.value)"#end data-placeholder="--选择${field.comment}--" name="${field.propertyName}" id="${field.propertyName}"
										class="form-control" tabindex="2">
										<option value="">--选择${field.comment}--</option>
										<option v-for="value,key in ${tableMapping.get(1)}Map" :value="key" :selected="data.#tolowercase($entity).${field.propertyName} == key">{{value}}</option>
									</select>
								</div>
							</div>
#elseif($type.contains('date'))
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
#elseif($type.contains('datetime'))
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
#elseif($type.contains('time'))
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
##自动识别
#elseif($field.type == 'date')
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
#elseif($field.type == 'datetime')
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
#elseif($field.type == 'time')
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" id="${field.propertyName}" name="${field.propertyName}" class=" form-control laydate-icon layer-date form-control" 
										:value="data.#tolowercase($entity).${field.propertyName}" placeholder="请选择时间"
                                        onclick="laydate({istime: true, format: 'hh:mm:ss'})" style="background-color:#fff;" readonly="readonly"/>
								</div>
							</div>
#else
							<div class="row"  style="display: flex;align-items:center;">
								<div class="columns pull-left col-sm-2 col-sm-offset-2 nopadding">${field.comment}</div>
								<div class="columns pull-left col-sm-6 nopadding">
									<input type="text" :value="data.#tolowercase($entity).${field.propertyName}" name="${field.propertyName}" class="form-control" placeholder="请输入${field.comment}">
								</div>
							</div>
#end
#end
#end
#end
							<div class="form-group">
								<div class="col-sm-2 col-sm-offset-5" style="text-align:center;">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
