<head th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" th:href="@{/favicon.ico}">
	<link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
	<link th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
	<link th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
	<link th:href="@{/css/plugins/jsTree/style.min.css}" rel="stylesheet">
	<link th:href="@{/css/plugins/jqTreeGrid/jquery.treegrid.css}" rel="stylesheet">
	<!--summernote css -->
	<link th:href="@{/css/plugins/summernote/summernote-0.8.8.css}" rel="stylesheet">
	<link th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet">
	<link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
	<!--bootstrap-inputfile-->
	<!--<link th:href="@{css/banner/bootstrap-fileinput.css" rel="stylesheet">-->
	<!--bootstrap-datetimepicker-->
	<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
	<link rel="stylesheet" th:href="@{/js/plugins/layer/laydate/skins/default/laydate.css}" />
	<script th:src="@{/common/util/request-tool-1.1.js}"></script>
</head>
<div th:fragment="footer"  xmlns:th="http://www.thymeleaf.org">
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
	<script
			th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/js/plugins/jsTree/jstree.min.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.min.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script>
	<script th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.js}"></script>
	<script th:src="@{/js/content.js?v=1.0.0"></script>
	
	<!--bootstrap-datetimepicker-->
	<script type="text/javascript" th:src="@{/js/plugins/layer/laydate/laydate.js}" ></script>
</div>
