package ${package.Entity};
## 首字母大写
#macro(toheaduppercase $str)$str.substring(0,1).toUpperCase()$str.substring(1)#end

import java.io.Serializable;
#foreach($pkg in ${table.importPackages})
#if($pkg.contains('java.util') || $pkg.contains('java.math') || $pkg.contains('java.time'))
import ${pkg};
#end
#end
#if($cfg.useMyBatitsPlus == 'true')
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableField;
## id自增
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#if(${field.keyIdentityFlag})
import com.baomidou.mybatisplus.annotation.IdType;
#break
#end
#end
#end
#end
/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
#if($cfg.useMyBatitsPlus == 'true')
@TableName(value = "${table.name}")
#end
public class ${entity} implements Serializable {

    private static final long serialVersionUID = 1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

## ----------  BEGIN mybatisplus注解
#if($cfg.useMyBatitsPlus == 'true')
#if(${field.keyFlag})
## 主键
#if(${field.keyIdentityFlag})
    @TableId(value = "${field.name}", type = IdType.AUTO)
#else
    @TableId("${field.name}")
#end
## 普通字段
#elseif(${field.name.contains('_')})
    @TableField("${field.name}")
#end
#end
## ----------  END mybatisplus注解
	private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------

#if($cfg.useMyBatitsPlus == 'true')
	@TableField(exist = false)
#end
	private String customCondition = "";
	
#if($cfg.useMyBatitsPlus == 'true')
	@TableField(exist = false)
#end
	private String orderby = "";
## ---------- BEGIN  遍历联合信息  ----------
#if($cfg.conjInfoMap.get($table.name))
	//联合所需数据
#foreach($conjEntityProp in $cfg.conjInfoMap.get($table.name).get('conjEntityProp'))
$conjEntityProp
#end
#end
## ----------  END  遍历联合信息  ----------

#if(!${entityLombokModel})
#foreach($field in ${table.fields})
#if(${field.propertyType.equals("boolean")})
#set($getprefix="get")
#else
#set($getprefix="get")
#end

##public ${field.propertyType} ${getprefix}${field.capitalName}() {
	public ${field.propertyType} ${getprefix}#toheaduppercase(${field.propertyName})() {
		return ${field.propertyName};
	}

#if(${entityBuilderModel})
	public ${entity} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
#else
	public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
#end
		this.${field.propertyName} = ${field.propertyName};
#if(${entityBuilderModel})
		return this;
#end
	}
#end
#end

#if(${entityColumnConstant})
#foreach($field in ${table.fields})
	public static final String ${field.name.toUpperCase()} = "${field.name}";

#end
#end

#if(!${entityLombokModel})
	@Override
	public String toString() {
		return "${entity}{" +
#foreach($field in ${table.fields})
#if($!{velocityCount}==1)
			"${field.propertyName}=" + ${field.propertyName} +
#else
			", ${field.propertyName}=" + ${field.propertyName} +
#end
#end
			"}";
	}
#end
	
	public String getCustomCondition() {
		return customCondition;
	}

	public void setCustomCondition(String customCondition) {
		this.customCondition = "and " + customCondition;
	}
	
	public String getOrderby() {
		return orderby;
	}

	public void setOrderby(String orderby) {
		this.orderby = "ORDER BY " + orderby;
	}
}
